#### Tokens
The smallest individual unit in a program is called a token (lexical unit) , There is a code written below , as of now let's not get into understanding the code itself and I'll just point the types of tokens there are. The token types are mentioned as below -
1. Keywords
2. Identifiers (Names)
3. Literals
4. Operators
5. Punctuators

In [1]:
for i in range(1,10):
    if i%2 == 0:
        print(i)

2
4
6
8

As of now , don't try to understand the program , let us learn what tokens are present here -

1. for , in , if (Keywords)
2. i  (identifiers)
3. %,== (operators)
4. 1,10,2,0 (literals)
5. ,: (punctuators)
 
The comma might have confused you as it's used multiple times , it is a punctuator only.

#### Keywords

Let's have a look at all the keywords that we have in python , we will use a keyword module for the same.

In [2]:
import keyword
print("Python keywords are....")
print(keyword.kwlist)

Python keywords are....
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

As you can see above , all the keywords except True, False and None are in lowercase and they must be written as they are. There are 33 keywords in total.

#### Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

<b> Rules for writing identifiers </b>

1. Identifiers can be a combination of letters in lowercase (a to z) or uppercase (A to Z) or digits (0 to 9) or an underscore _. Names like myClass, var_1 and print_this_to_screen, all are valid example.
2. An identifier cannot start with a digit. 1variable is invalid, but variable1 is a valid name.
3. Keywords cannot be used as identifiers.
4. We cannot use special symbols like !, @, #, $, % etc. in our identifier
5. An identifier can be of any length

Valid Identifiers

In [3]:
MyFile = 12
_Cherry = "Valid identifiers"
a20 = 10
print(MyFile)
print(_Cherry)
print(a20)

12
Valid identifiers
10

Invalid Identifiers

In [4]:
D-2 = 23
print(D-2)

SyntaxError: cannot assign to expression here. Maybe you meant '==' instead of '='? (2302388622.py, line 1)

In [5]:
12da = "invalid"
print(12da)

SyntaxError: invalid decimal literal (1300877659.py, line 1)

In [6]:
if = 14
print(if)

SyntaxError: invalid syntax (341309556.py, line 1)

In [7]:
h.park = 78
print(h.park)

NameError: name 'h' is not defined

### Literals 
Literals in python are basically data items that have a fixed/constant values , there various kind of literals as given below -

###### String Literals 
        a.Single Line Strings - Must terminate in one line , represented by ' or "
        b.Multi Line Strings - These are spread across multiple lines , represented by """ or '''

In [8]:
text = 'Hello World'
print(text)

Hello World

In [9]:
text1 = ' Hello
World '
print(text1)

SyntaxError: unterminated string literal (detected at line 1) (3934927445.py, line 1)

As we can see above with a ' , the multi line string assignment threw us an error. now let's have a look at how multi line strings can be written

In [10]:
text2 = '''Hello world , this have been
a wonderful year
for all of us'''
print(text2)

Hello world , this have been
a wonderful year
for all of us

There are a lot of string theories and methods present in Python which we will be learning later on.

###### Escape Sequenece
Now what are escape sequeneces , let's learn about them. escape sequenece or escape characters in python helps us to escape an error that might occur in our programme due to our mistakes , escape sequeneces are denoted with backslash. let's have a look at one example below -

In this programme we are trying to print the sentence - Hi how are you ? what's up ? - But we are trying to enclose our sentence with ' and also while writing what's up we are using ' so two ' in between one string will throw an error as our python interpreter will get confused , it'll think that with second ' present after 'what' , our string is terminated , let's see

In [11]:
txt = 'Hi how are you? what's up'
print(txt)

SyntaxError: unterminated string literal (detected at line 1) (2711372986.py, line 1)

We can avoid this error using escape sequence , the escape sequence for ' is backslash' , let's see

In [12]:
txt1 = 'Hi how are you? what\'s up'
print(txt1)

Hi how are you? what's up

There are other escape sequences present as given below -

In [13]:
# New Line Character , \n is developing a new line without using multiline string quotes
txt2 = 'Hello , this is \n new line'
print(txt2)

Hello , this is
 new line

In [14]:
# Backslash character , \\ this provides backslash in the string
txt3 = "Hello world , \\ how are you ?"
print(txt3)

Hello world , \ how are you ?

#### Carriage Return
We do have a escape sequence for carriage return as well , denoted with backslash r , but first let's understand , what it does , as you can see below , we have used the carriage return escape sequence below , the string value here is hello world , the moment i printed the statement , as escape character is placed between hello and world , the cursour return to the begining of the line taking the part of the string (world) with it and overwritten hello with it , so it fed the line as well, this particular event that occured is called carriage return and line feed.

In [15]:
txt4 = "hello \r world"
print(txt4)

 world

Now if my first part of the string has more characters than the part defined after carriage return then only the number of characters in the first part will be replaces , suppose if we write "Hello123456 world" as the string value then in this escape sequence world123456 will be printed.

In [16]:
txt10 = "hello123456 \r world"
print(txt10)

 world

#### Unicode 
Every letter in alphabets posees an ASCII value , and ASCII values of the letters have 8 bit binary values and that's how it gets stored in the storage. In C langugae datas are stored in ASCII Values but in Python unicode is used.

Below is an example how we can find Ascii value of a character and the reversal of it , with ord and chr function

In [17]:
# ASCII value of 'H' is 72 and character value of 72 is 'H'
print(ord("H"))
print(chr(72))

72
H

In [18]:
# As we can see , these are case sensative , 
# upper case H has a different ASCII value than the smaller case one.
print(ord("h"))
print(chr(104))

104
h

In the below section , the letter uppercase 'H' is being converted into Binay from it's ASCII value

In [19]:
# Python program to illustrate the
# conversion of ASCII to Binary 
# Calling string.encode() function to
# turn the specified string into an array
# of bytes
byte_array = "H".encode()
# Converting the byte_array into a binary
# integer
# byte order given as 'big' (can be big or little only)
binary_int = int.from_bytes(byte_array,"big")
# Converting binary_int to a string of
# binary characters
binary_string = bin(binary_int)
# Getting the converted binary characters
print(binary_string)

0b1001000

So it can be see that for letter "H" , the ASCII Value is 72 and Binary value is 0b1001000

As of now we only attempted to find the ASCII value of a character , with the help of an for loop we can find the ASCII value of an entire string as below

In [20]:
string = "Hello world , how are you"
x = []
for s in string:
    x.append(ord(s))
print(x)

[72, 101, 108, 108, 111, 32, 119, 111, 114, 108, 100, 32, 44, 32, 104, 111, 119, 32, 97, 114, 101, 32, 121, 111, 117]

###### Horizontal tab
Backslash t , adds on spaces in between strings , this is an escape sequence as well , we can also increase the space in between by providing the tabsize as argument.

In [21]:
txt8 = "Hello \tWorld"
print(txt8)

Hello 	World

In [22]:
print(txt8.expandtabs(tabsize=15))

Hello          World

Backspace escape sequence takes cursor back in one space

In [23]:
txt20 = "Hello\b World"
print(txt20)

Hello World

As we can see the cursor went one place backwards and removed "o"

## Numeric Literals
These are basically numerical values , without decimal it's called integers , and with decimal points it's called floating point numbers

#### Integer Forms
1. Decimal - An integer begining with 1-9 , is called a decimal formed integer , as in 1456 ,2479 etc
2. Octal - An integer begining with 0o (zero followed by the letter 'o') is octal formed integer , as in 0o32 ,0o67 etc
3. Hexadecimal - An integer begining with 0x (Zero followed by the letter 'x') is hexa decimal formed integer. Also 0xAF is a hexadecimal integer , Remember valid digits for hexadecimal numbers are 1-9 , and valid letters for hexadecimal integers are A-F

In [24]:
ad = 2345 #decimal integer
print(ad)
print(type(ad))

2345
<class 'int'>

In [25]:
ao = 0o34 #octal integer
print(ao)
print(type(ao))

28
<class 'int'>

In [26]:
ah = 0xAb #hexa decimal integer
print(ah)
print(type(ah))

171
<class 'int'>

The digit value of an octal , Hexa integer can be determined with 'int' function as shown below , we have seen above that 'ao' is an octal integer , ah is an hexa integer , and we will show below how to achieve it's digit value

In [32]:
print(int(ao))
print(int(ah))

28
171

In the samne manner , using oct() and hex() function we can convert a decimal integer into octal/hexadecimal integer , we are converting the ad , which is a decimal integer here

In [33]:
print(oct(ad))
print(hex(ad))

0o4451
0x929

#### Floating Forms
1. Fractional Form - numbers which are divided into two parts (integer and fractional) by a decimal point are the fractional point float numbers , as 13.0 ,-5.9 etc
2. Exponent Form - These are represneted with E in between , such as 0.6E45 ,3.E45 etc

The examples that we will look into below , we will also see their converted form in decimal integers using int

In [37]:
af = -6.98  # Fractional form
print(af)
print(type(af))
print(int(af))

-6.98
<class 'float'>
-6

In [38]:
ae = 8.9E45 # Exponent Form
print(ae)
print(type(ae))
print(int(ae))

8.9e+45
<class 'float'>
8899999999999999913591377415363901493482618880

#### Complex Literal
Thes numbers are represented in the form of a+bj , where a and b are floats and j/J representes root of -1 (This is the imaginary part) , lets have a look at example of the same and we will also see it's real and imaginary part seggregation as well

In [43]:
ac = 56+8.90j # complex number
print(ac)
print(type(ac))
print(ac.real)
print(ac.imag)

(56+8.9j)
<class 'complex'>
56.0
8.9

### Boolean Literals
Boolean literals are represented with True / False keywords , and these keywords are case sensative as well

In [44]:
abt = True
abf = False
print(abt)
print(type(abt))
print(abf)
print(type(abf))

True
<class 'bool'>
False
<class 'bool'>

### Special Literal
Python has a special lietral stated as ' None ' , it indicates the absence of a value. Let's have a look into it's example , it's defined as 'NoneType'

In [46]:
asp = None
print(asp)
print(type(asp))

None
<class 'NoneType'>

In [30]:
lst = [5,8,1,6,3,10,95,56]
print(lst.sort(reverse = True))

None