First let us understand , what operators are. Operators are symbols or signatures that triggers a computation based on our given variables and it's respective values. There are many operators that exists in python as -
+  Arithmatic Operators
+  Bitwise Operators
+  Shift Operators
+  Identity Operators
+  Relational/Comparison Operators
+  Logical Operators
+  Asssignment Operators
+  Membership Operators
+  Arithmatic-Assignment Operators

#### Arithmatic Operators
The arithmatic operators comprises of the symbols or signatures that performs mathematical computation in our programme. Below we are taking two variables , a and b , assigning them values of 10 and 5 and then will go on to perform computation on them

In [1]:
a = 10
b = 5

Addition operator (+) , this one computes the addition in the programme

In [2]:
print(a+b)

15

Substraction operator (-) , this one computes the substraction in the programme

In [3]:
print(a-b)

5

Multiplication operator (*) , this one computes the multiplication in the programme

In [4]:
print(a*b)

50

Division Operator (/) , this one computes division in the programme

In [5]:
print(a/b)

2.0

Modulus Operator(%) , this one provides us with the remainder of the division programme. this time we will take two separate values in the variables so that we can get a remainder of the same.

In [6]:
c = 13
d = 3
print(c%d)

1

Exponential Operator (**) , this one provide with the exponential value of the given variables , exponential value stands for multiplication based on given number , as for example 2 exponential 3 means 2 * 2 * 2. let's have a look into the examples

In [7]:
x = 2
y = 3
print(x**y)

8

Floor Division (//) operator checks the type of number being used in division , wheather it's integer or floating point numbers. Then the division results that comes in , it converts/floors the results into the same type of number (float or int) as the numbers used in the divison. This is called floor division.

In [8]:
# getting the result as integer
a = 2
b = 8
print(b//a)

4

In [9]:
# getting the result as float
a = 2
b = 8.3
print(b//a)

4.0

#### Bitwise Operators
To understand bitwise operators , we first need to understand about bits , as the bitwise operators will only work on the bits and not on the actual value of a given number. The bits are in form of 1 and 0 and there are two metods using which one can convert a decimal number into a binary. We will talk about both -
+ Substraction Method
+ Succesive Division Method

##### Substraction Method 
To understand this method , first let's understand diagram of "power of 2". This diagram will contain the numbers exceuted with computing powers of 2. "1 power of 2" , "2 power of 2" ,"3 power of 2" etc. And we will only calculate till the result of "power of 2" exceeds our given number , for which the binary conversion is needed. Suppose our desired number is 113 , then we will only claculation the power of two till it execeeds 113. let's have a look at the power values

In [10]:
target = 113
a = 2**0
b = 2**1
c = 2**2
d = 2**3
e = 2**4
f = 2**5
g = 2**6
h = 2**7
print(a,b,c,d,e,f,g,h)

1 2 4 8 16 32 64 128

We will stop with "2 to the power 7" as we are exceeding  113 (our number to convert). Now from the list of numbers generated , we will start taking the next last number from our givne number (113) . As we can see 64 is the next last number to 113 , so we will stor this number first.

In [11]:
# the next last to 113
print(g)

64

Now we will substract this 64 from our initial target number (113) , and will store the result in variable x

In [12]:
x = target-g
print(x)

49

Now we will have to look for next last minimum value or the highest number under 49 is 32 , which is stored in variable f , let's have that in print on next cell

In [13]:
print(f)

32

Now we will substract this 32 from our latest number stored in x (49) , and will store the result in variable y

In [14]:
y = x-f
print(y)

17

Now we will have to look for next last minimum value or the highest number under 17 is 16 , which is stored in variable e , let's have that in print on next cell

In [15]:
print(e)

16

Now we will substract this 16 from our latest number stored in y (17) , and will store the result in variable z

In [16]:
z = y-e
print(z)

1

As we can see in the table 1 is already present and is assigned to the variable 'a' , so let's go ahead and print it

In [17]:
print(a)

1

Now that we have reached the end , let's add all our found numbers that's there in the table of "power of 2"

In [18]:
tg = e+f+g+a
print(tg)

113

As we can see that the number matched our target numbers , now out of the entire table , we used e ,f,g,a to perform the addition , so these varibles will be termed as 1 and the rest variables b,c,d,h will be termed as 0 and that's how we will get our binary converted number

In [19]:
# a = 1 , b = 0 , c = 0, d = 0 ,e = 1 , f = 1 , g = 1 , h = 0
# while writing the number it'll start from h
print("01110001")

01110001

let's check if our process yielded correct result with built in "bin" function

In [20]:
target_bin = bin(target)
t1 = target_bin.replace("0b","0")
print(t1)

01110001

As we can see both binary representation matches each other

##### Successive Division Method 
In this method we continue to divide our target number to achieve the binary represntation , we need to divide our target number with 2 and we will need to work with the remainders. Let's take target number as 113 only as above to confirm our previous answer.

In [21]:
target = 113

In [22]:
r1 = target%2
d1 = int(target/2)
print(r1)
print(d1)

1
56

if we divide 113 with 2 remainder as seen above in r1 variable is staying as 1 and the division matrix is giving us 56 , so we will divide 56 with 2 and will continue stroing our remainders till we can't divide anymore

In [23]:
r2 = d1%2
d2 = int(d1/2)
print(r2)
print(d2)

0
28

In [24]:
r3 = d2%2
d3 = int(d2/2)
print(r3)
print(d3)

0
14

In [25]:
r4 = d3%2
d4 = int(d3/2)
print(r4)
print(d4)

0
7

In [26]:
r5 = d4%2
d5 = int(d4/2)
print(r5)
print(d5)

1
3

In [27]:
r6 = d5%2
d6 = int(d5/2)
print(r6)
print(d6)

1
1

Now we can see we have reached the limit and 1 came in the division matrix , which can't be divided with 2 anymore. So to calculate binary representation , we will calculate last division matrix (1) and all other remainders

In [28]:
print(d6,r6,r5,r4,r3,r2,r1)

1 1 1 0 0 0 1

In [29]:
target_bin = bin(target)
t1 = target_bin.replace("0b","")
print(t1)

1110001

As we can see our representation matches prefectly.

Now that we are clear about what bits are , let's talk about bitwise operators in brief, we have six bitwise operators in place as below
+ And operator (&)
+ Or operator (|)
+ XOR operator (^)
+ Complement operator (~)
+ Left shift operator
+ Right shift operator

##### And operator
With the help of this operator we execute a value as stated below , let's have a look at the value , then we will discuss how we landed there.

In [30]:
x = 69
y = 78
print(x&y)

68

Now let's first have a look at the bit value for both our variables

In [31]:
tb1 = bin(x).replace("0b","")
tb2 = bin(y).replace("0b","")
print(tb1)
print(tb2)

1000101
1001110

As we can see the bit value for both of our decimal numbers , with the and operation the value that exceutes has condition as below
+ If both values have 1 , then the end value is 1
+ If any value is 0 , then the end value is 0
Following the above stated rule we can say that our desired output will be "1000100"

Now let's go ahead and try to find our and operator execution and it's binary representation

In [32]:
ax = x&y
print(ax)
tb3 = bin(ax).replace("0b","")
print(tb3)

68
1000100

As we can see the numbers are matching pefrectly with each other.

#### Or Operator
In the or opeartor , the rules to remember are as below 
+ If both the values are 0 , then only output is 0 
+ Otherwise it's value is always 1

Let's look into a practical example now

In [33]:
x = 69
y = 78
print(x|y)

79

We already have the bit values for these variables stored in tb1 and tb2 , so let's print those

In [34]:
print(tb1)
print(tb2)

1000101
1001110

With the above stated rule , our Or operator executed value should be - "1001111" , now let's verify this

In [35]:
ay = x|y
print(ay)
tb4 = bin(ay).replace("0b","")
print(tb4)

79
1001111

As we can see , it completely checks out and get's verified.

#### XOR Operator
In the Xor operator the laws are as stated below -
+ If both the values are same (both o or both 1) , then only output is 0 
+ If both the values are different (0,1 or 1,0) , then only output is 0 

Let's look into a practical example now

In [36]:
x = 69
y = 78
print(x^y)

11

We already have the bit values for these variables stored in tb1 and tb2 , so let's print those

In [37]:
print(tb1)
print(tb2)

1000101
1001110

With the above stated rule , our Or operator executed value should be - "0001011" , now let's verify this

In [38]:
az = x^y
print(az)
tb5 = bin(az).replace("0b","")
print(tb5)

11
1011

As we can see our calculation gets verified , 0 used before the number doesn't make any differenece here so will not be something to consider important here and can be ignored

##### Complement / Not Operator
This operator just flips the bits , the rules are as below -
+ If the bit value is 1 then this operator makes it 0
+ If the bit value is 0 then this operator makes it 1
+ This operator is a unary operator , which means it takes only one argument

Let's have a look into a practical example

In [39]:
acm = 157
acb = bin(acm).replace("0b","")
print(acb)

10011101

As the rules above with complement operator , the value should be - "01100010" , let's get this verified.

In [40]:
acc = int(~acm)
print(acc)
tb6 = bin(158).replace("0b","")
print(tb6)

-158
10011110

#### Relational/Comparison Operator
This operators helps in identifying the relationhip or states the comparison among given variable values,,

In [46]:
a = 10
b = 15
c = 8
d = 15

In [47]:
print(a>b)

False

In [48]:
print(a == b)

False

In [49]:
print(a!=b)

True

In [50]:
print(b==d)

True

In [51]:
print(b>=d)

True

In [53]:
print(b>=a)

True

In [54]:
print(a>=b)

False

In [55]:
print(a<=b)

True

#### Assignment Operators
This operators works alongside with arithmatic operators while assigning a value

In [92]:
a = 10
b = 6

In [93]:
b+=a

In [94]:
b

16

In [95]:
b-=a

In [96]:
b

6

In [97]:
b*=a

In [98]:
b

60

In [99]:
b**=a

In [100]:
b

604661760000000000

In [101]:
b/=a

In [102]:
b

6.0466176e+16

In [110]:
#Membership Operators

In [111]:
x = [2,4,6,3,1,8]

In [112]:
y = 4
z = 10

In [113]:
print(y in x)

True

In [114]:
print(z not in x)

True

In [115]:
print(y not in x)

False

In [116]:
print(z in x)

False

In [117]:
# Identity Operators

In [120]:
p = [12,23,45]
q = [12,23,45]
r = [22,13,65]

In [123]:
print(p is q)

False

In [124]:
print(p is r)

False

In [125]:
p = q

In [127]:
print(p is q)

True

In [128]:
# Logical Operators

In [130]:
x = 10
y = 12
z = 20
# for and both condition needs to be true
print(x>y and x<z)

False

In [131]:
# for or any of the condition can be true
print(x>y or x<z)

True

In [132]:
# not operator reverse the result

In [133]:
print(not(x>y and x<z))

True

In [134]:
print(not(x>y or x<z))

False